* {
    box-sizing: border-box;
}


$black: #333;
$white: white;
$grey: #f1f1f1;
$crimson: crimson;

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    color: $black;
}

.calendar {
    width: 400px;
}

.day {
    text-align: center;
    padding: 2.5px;
    background-color: $white;
    transition: background-color 0.3s ease-in;
    &:hover {
        background-color: $crimson;
        color: $white;
    }
}

.day--named {
    font-weight: bold;
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.day--fold {
    color: $grey;
    &:hover {
        background-color: $grey;
        color:darken($grey, 15%);
    }
    
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 14.285%);
}

.month {
    display: grid;
    grid-template-rows: repeat(6, 16.666%);
}