@import 'variables';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
    color: $black;
}

.app {
    text-align: center;
    width: 400px;
}

.day {
    position: relative;
    text-align: center;
    padding: 2.5px;
    background-color: $white;
    transition: background-color 0.075s ease-in;
    &:hover {
        background-color: $crimson;
        color: $white;
    }
}

.day span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.day--named {
    font-weight: bold;
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.day--fold {
    color: $grey;
    &:hover {
        background-color: $grey;
        color:darken($grey, 15%);
    }
    
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 14.285%);
}

.month {
    height: 340px;
    display: grid;
    grid-template-rows: repeat(6, 16.666%);
    grid-template-columns: repeat(7, 14.285%);
}
