.slider {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

// .slider--arrow {
//     &-left {
//         margin-left: 25px;
//     }

//     &-right {
//         margin-left: 25px;
//     }
// }